body {
display: flex;
background-color: #2E3440;

}

#chartDiv {
flex-grow: 1;
width: 10%;
flex-shrink: 0;
position: relative;
}
.charts {
  /*margin: auto;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 220px;
  
  width: 80%;
  flex-direction:column;
  flex-grow:1;
  flex-shrink:0;
  z-index: 0; 
}
.searchbar {
  width: 96%;
  padding: 0;
  margin: 0;
}
#searchResults {
  list-style-type: none;
  width: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
   overflow-y: scroll; 
  height: 500px;
 /* position: absolute;*/
  z-index: 200; 
}
#searchResults li button {
  display: inline-block;
  width: 100%;
  background-color: #434C5E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.42;
}
#searchResults li button:hover{
background-color: #3B4252;
}
#searchDiv {
width: 200px;
position: relative;
top: 0;
left: 0;

}
.graphui {
position: fixed;
flex-direction:column;
border-style:solid;
width: 200px;
z-index: 20;
}

.button:hover{
background-color: #3B4252;
}
.button {
  background-color: #434C5E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
}
