/*This file is for theming highcharts CSS specifically*/
@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-background {
    fill: #3B4252;
}

.highcharts-title, .highcharts-subtitle, .highcharts-yaxis .highcharts-axis-title {
fill:white;
stroke:white;
color:white;
}
