/*
File organization:

- Mobile UI rules

- Site wide rules

- Sidebar specific rules that happen to be site wide
- Sidebar

- Overlay specific rules that happen to be site wide
- Overlay

- Graph specific rules that happen to be site wide
- Graph section

*/

:root {
    --dark00: #191C24;
    --dark0: #222630;
    --dark1: #333948;
    --dark2: #3B4254;
    --dim: #AAAAAA;
    --white0: #F3F4F7;
    --pink: #fdcbf1;
    --purple: #B48EAD;
    --blue: #AEE2FE;
}

:root {
    --sidebar-width: 14rem;
}

body {
    display: flex;
    background-color: var(--dark00);
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

.dropzone {
    width: 100%;
    height: 100vh;
    display: flex;
}

#sidebarControls {
    margin-top: 20px;
}

#sidebar-container {
    padding-right: 1rem;
}

.scrollbar-frozen-dreams::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--white0);
    border-radius: 10px;
}

.scrollbar-frozen-dreams::-webkit-scrollbar {
    width: 12px;
    background-color: var(--white0);
}

.scrollbar-frozen-dreams::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--pink)), color-stop(1%, var(--pink)),
    to(#e6dee9));
    background-image: -webkit-linear-gradient(bottom, var(--pink) 0%, var(--pink) 1%, #e6dee9 100%);
    background-image: linear-gradient(to top, var(--pink) 0%, var(--pink) 1%, #e6dee9 100%);
}


/* Sidebar*/
.button:hover {
    background-color: var(--dark1);
}

.button {
    background-color: var(--purple);
    color: var(--white0);
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition-duration: 0.2s;
}

input[type="checkbox"], label {
    vertical-align: middle;
    display: inline-block;
}

input[type="checkbox"] {
    margin: 6px;
}

.sidebar {
    background-color: var(--dark0);
    position: fixed;
    flex-direction: column;
    width: var(--sidebar-width);
    z-index: 20;
    min-height: 100%;
}

/*This element is grabbed to change the size of the sidebar*/
.resizer {
    min-height: 100%;
    width: calc(var(--sidebar-width) + 6px);
    cursor: col-resize;
    z-index: 19;
}

.material-symbols-outlined {
    color: var(--white0);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 72
}


.maximize_icon {
    position: fixed;
    left: 15px;
    top: 10px;
    z-index: 10;
}

.minimize-icon {
    position: fixed;
    left: calc(var(--sidebar-width) + 15px);
    top: 10px;
    z-index: 10;
}

.minimize-icon:hover, .maximize_icon:hover {
    cursor: pointer;
    color: var(--dim);
}


#logo {
    width: 100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.searchbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

#uploadedFile.custom-file-input {
    display: none;
}

.custom-file-label::after {
    display: none;
}

.custom-file-label {
    position: relative;
    color: var(--dark00);
    background-color: var(--white0);
    border: inherit;
}

#searchResults {
    list-style-type: none;
    width: 100%;
    height: 80vh;
    font-size: 18px;
    padding: 0;
    margin-top: 2%;
    overflow-y: scroll;
    z-index: 200;
}

#searchResults li button {
    display: inline-block;
    width: 100%;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--white0);
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.42s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#searchResults li button:hover {
    background-color: var(--dark1);
}

#searchDiv {
    margin-top: 10%;
    border: none;
    background-color: inherit;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}


/*Overlay*/
.overlay {
    margin: auto;
    top: 40%;
    width: 100%;
    z-index: 1;
    position: fixed;
    color: #ffffff;
}

.overlay input[type="url"] {
    background-color: inherit;
    border-color: var(--white0);
    border-radius: .25rem;
    border-style: solid;
    color: var(--dim);
}
.overlay ::placeholder {
    color: #999999;
}

.loading_icon {
    position: absolute;
    left: calc(50% + var(--sidebar-width));
    right: calc(50% - var(--sidebar-width));
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: -30px 0 0 -76px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-top: 5px solid var(--blue);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#welcomeMessage {
    margin-left: 50%;
    margin-right: 50%;
    width: 12rem;
    margin-top: -7.5%;
    font-size: 20px;
    text-align: center;
}

#welcomeMessage input {
    width: 100%;
}

/*Charts*/
.charts {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 2;
    z-index: 0;
}

#chartDiv {
    float: right;
    flex-grow: 1;
    width: 10%;
    flex-shrink: 1;
    position: relative;
}

.sidebar_top {
    height: 20vh;
    flex-direction: row;
}


@media only screen and (orientation: portrait) {
    .resizer {
        position: absolute;
        min-height: 100%;
    }
}





